
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");








.content-wrapper {
height: 100%;
width: 100%;
max-width: 100rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 5rem;
}



.blue-line {
height: 0.3rem;
width: 6rem;
background-color: rgb(79, 143, 226);
margin-bottom: calc(3rem + 2vmin);
}

.wrapper-for-arrows {
position: relative;
width: 70%;
border-radius: 2rem;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
overflow: hidden;
display: grid;
place-items: center;
}

.review-wrap {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: calc(2rem + 1vmin);
width: 100%;
}

#imgDiv {
border-radius: 50%;
width: calc(6rem + 4vmin);
height: calc(6rem + 4vmin);
position: relative;
box-shadow: 5px -3px rgb(79, 143, 226);
background-size: cover;
margin-bottom: calc(0.7rem + 0.5vmin);
}

.chicken {
background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
width: 200px;
height: 250px;
position: absolute;
top: 12%;
}

#imgDiv::after {
content: "''";
font-size: calc(2rem + 2vmin);
font-family: sans-serif;
line-height: 150%;
color: #fff;
display: grid;
place-items: center;
border-radius: 50%;
background-color: rgb(79, 143, 226);
position: absolute;
top: 10%;
left: -10%;
width: calc(2rem + 2vmin);
height: calc(2rem + 2vmin);
}

#personName {
margin-bottom: calc(0.7rem + 0.5vmin);
font-size: calc(1rem + 0.5vmin);
letter-spacing: calc(0.1rem + 0.1vmin);
font-weight: bold;
}

#profession {
font-size: calc(0.8rem + 0.3vmin);
margin-bottom: calc(0.7rem + 0.5vmin);
color: rgb(79, 143, 226);
}

#description {
font-size: calc(0.8rem + 0.3vmin);
width: 70%;
max-width: 40rem;
text-align: center;
margin-bottom: calc(1.4rem + 1vmin);
color: rgb(92, 92, 92);
line-height: 2rem;
}

.arrow-wrap {
position: absolute;
top: 50%;
}

.arrow {
width: calc(1.4rem + 0.6vmin);
height: calc(1.4rem + 0.6vmin);
border: solid rgb(79, 143, 226);
border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
cursor: pointer;
transition: transform 0.3s;
}

.arrow:hover {
transition: 0.3s;
transform: scale(1.15);
}

.left-arrow-wrap {
left: 5%;
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
right: 5%;
}

.surprise-me-btn {
border: 2px solid rgb(79, 143, 226);
background-color: rgb(224, 238, 255);
color: rgb(79, 143, 226);
border-radius: 2rem;
padding: calc(0.5rem + 0.2vmin) 0;
width: calc(7rem + 5vmin);
text-align: center;
transition: background-color 0.3s, transform 0.3s;
cursor: pointer;
margin-bottom: calc(1.4rem + 1vmin);
}

.surprise-me-btn:hover {
transition: background-color 0.3s, transform 0.3s;
background-color: rgb(255, 255, 255);
transform: rotate(5deg);
}

.move-head {
animation: moveHead 1.55s infinite;
animation-delay: -0.8s;
}

.hide-chicken-btn {
border: 2px solid rgb(226, 89, 79);
background-color: rgb(255, 224, 224);
color: rgb(226, 79, 79);
border-radius: 2rem;
padding: calc(0.5rem + 0.2vmin) 0;
width: calc(10rem + 5vmin);
text-align: center;
transition: background-color 0.3s, transform 0.3s;
cursor: pointer;
margin-bottom: calc(1.4rem + 1vmin);
}

.hide-chicken-btn:hover {
transition: background-color 0.3s, transform 0.3s;
background-color: rgb(255, 255, 255);
transform: rotate(5deg);
}

@keyframes moveHead {
0% {
}
25% {
    transform: translate(0.5rem, 1rem) rotate(5deg);
}
100% {
    transform: translate(0, 0) rotate(-5deg);
}
}

@media screen and (max-width: 900px) {
.content-wrapper {
    width: 100%;
}
}

/* CSS for .content-wrapper */
.content-wrapper {
  height: 100%;
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

/* CSS for .blue-line */
.blue-line {
  height: 0.3rem;
  width: 6rem;
  background-color: rgb(79, 143, 226);
  margin-bottom: calc(3rem + 2vmin);
}

/* CSS for .wrapper-for-arrows */
.wrapper-for-arrows {
  position: relative;
  width: 70%;
  border-radius: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

/* CSS for .review-wrap */
.review-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(2rem + 1vmin);
  width: 100%;
}

/* CSS for #imgDiv */
#imgDiv {
  border-radius: 50%;
  width: calc(6rem + 4vmin);
  height: calc(6rem + 4vmin);
  position: relative;
  box-shadow: 5px -3px rgb(79, 143, 226);
  background-size: cover;
  margin-bottom: calc(0.7rem + 0.5vmin);
}

/* CSS for .chicken */
.chicken {
  background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
  width: 200px;
  height: 250px;
  position: absolute;
  top: 12%;
}

/* CSS for #imgDiv::after */
#imgDiv::after {
  content: "''";
  font-size: calc(2rem + 2vmin);
  font-family: sans-serif;
  line-height: 150%;
  color: #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: rgb(79, 143, 226);
  position: absolute;
  top: 10%;
  left: -10%;
  width: calc(2rem + 2vmin);
  height: calc(2rem + 2vmin);
}

/* CSS for #personName */
#personName {
  margin-bottom: calc(0.7rem + 0.5vmin);
  font-size: calc(1rem + 0.5vmin);
  letter-spacing: calc(0.1rem + 0.1vmin);
  font-weight: bold;
}

/* CSS for #profession */
#profession {
  font-size: calc(0.8rem + 0.3vmin);
  margin-bottom: calc(0.7rem + 0.5vmin);
  color: rgb(79, 143, 226);
}

/* CSS for #description */
#description {
  font-size: calc(0.8rem + 0.3vmin);
  width: 80%;
  max-width: 40rem;
  text-align: center;
  margin-bottom: calc(1.4rem + 1vmin);
  color: rgb(92, 92, 92);
  line-height: 2rem;
}

/* CSS for .arrow-wrap */
.arrow-wrap {
  position: absolute;
  top: 50%;
}

/* CSS for .arrow */
.arrow {
  width: calc(1.4rem + 0.6vmin);
  height: calc(1.4rem + 0.6vmin);
  border: solid rgb(79, 143, 226);
  border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
  cursor: pointer;
  transition: transform 0.3s;
}

/* CSS for .arrow:hover */
.arrow:hover {
  transition: 0.3s;
  transform: scale(1.15);
}

/* CSS for .left-arrow-wrap */
.left-arrow-wrap {
  left: 5%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* CSS for .right-arrow-wrap */
.right-arrow-wrap {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

/* CSS for .surprise-me-btn */
.surprise-me-btn {
  border: 2px solid rgb(79, 143, 226);
  background-color: rgb(224, 238, 255);
  color: rgb(79, 143, 226);
  border-radius: 2rem;
  padding: calc(0.5rem + 0.2vmin) 0;
  width: calc(7rem + 5vmin);
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin-bottom: calc(1.4rem + 1vmin);
}

/* CSS for .surprise-me-btn:hover */
.surprise-me-btn:hover {
  transition: background-color 0.3s, transform 0.3s;
  background-color: rgb(255, 255, 255);
  transform: rotate(5deg);
}

/* CSS for .move-head */
.move-head {
  animation: moveHead 1.55s infinite;
  animation-delay: -0.8s;
}

/* CSS for .hide-chicken-btn */
.hide-chicken-btn {
  border: 2px solid rgb(226, 89, 79);
  background-color: rgb(255, 224, 224);
  color: rgb(226, 79, 79);
  border-radius: 2rem;
  padding: calc(0.5rem + 0.2vmin) 0;
  width: calc(10rem + 5vmin);
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin-bottom: calc(1.4rem + 1vmin);
}

/* CSS for .hide-chicken-btn:hover */
.hide-chicken-btn:hover {
  transition: background-color 0.3s, transform 0.3s;
  background-color: rgb(255, 255, 255);
  transform: rotate(5deg);
}

/* CSS for @keyframes moveHead */
@keyframes moveHead {
  0% {
  }
  25% {
    transform: translate(0.5rem, 1rem) rotate(5deg);
  }
  100% {
    transform: translate(0, 0) rotate(-5deg);
  }
}

/* CSS for @media screen and (max-width: 900px) */
@media screen and (max-width: 900px) {
  .content-wrapper {
    width: 100%;
  }
}

/* CSS for .slider-container */
.slider-container {
  overflow: hidden;
  width: 100%; /* Adjust the width as needed */
}

/* CSS for .slider */
.slider {
  display: flex;
  width: max-content; /* Adjust the width of the slider to the sum of all image widths */
  animation: marquee 40s linear infinite;
}

/* CSS for .slider img */
.slider img {
  width: 200px; /* Adjust the size of the rounded images for medium screens (md) */
  height: 200px;
  border-radius: 50%;
  display: flex; 
  margin-right: 60px;
}

/* CSS for .slider img on small screens (sm) */
@media (max-width: 640px) {
  .slider img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.social-icon {
  font-size: 30px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}
/* footer */
.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
  padding-bottom: 8px !important;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo img {
  max-width: 120px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 21px;
}


.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 120px;
  background: #ff5e14;
}



.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;

}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.footer-cta .row .col-xl-4:nth-child(1) .single-cta i {
  position: absolute;
  color: #ff5e14;
}

.footer-cta .row .col-xl-4:nth-child(1) .single-cta .cta-text {
  padding-left: 32px;
}

.footer-cta .row .col-xl-4:nth-child(2) .single-cta i {
  color: #14ffa7;
}

.footer-cta .row .col-xl-4:nth-child(3) .single-cta i {
  color: #ffd700;
}


/* hover of footer of services and preparation classes */

                    ul.text-white li {
                      position: relative;
    
                    }
    
                    ul.text-white li::after {
                      content: "";
                      position: absolute;
                      bottom: -4px;
                      left: 0;
                      width: 0;
                      height: 2px;
                      background-color: orange;
                      transform: scaleX(0);
                      transition: transform 0.2s ease-in-out;
                    }
    
                    ul.text-white li:hover::after {
                      transform: scaleX(1);
                    }
    
                    ul.text-white li:hover::after {
                      width: 100%;
                      /* Expand the width to 100% on hover */
                    }
              /* header image of about page */

             
              .image-container {
                position: relative;
                display: inline-block;
                width: 100%;
                height: auto;
                overflow: hidden;
              }
            
              .image-container img {
                display: block;
                width: 100%;
                height: auto;
                filter: blur(6px);
                /* Adjust the blur intensity as needed */
              }
            
              .image-container .text-overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #b76a2a;
                font-size: 6vw; /* Adjust the font size relative to viewport width */
                font-weight: bold;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                width: 100%;
                padding: 0 20px; /* Adjust the padding as needed */
                box-sizing: border-box;
              }
            
              /* Adjust styles for small screens (sm) */
              @media (max-width: 640px) {
               
            
                .image-container .text-overlay {
                  font-size: 8vw;
                }
              }
            
  /* accordion of faq in about page */

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");



    
    .body {
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-family: 'Poppins', sans-serif;
    }
    
    .accordion-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 670px;
      padding: 2rem;
      background: #fff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
      border-radius: 8px;
    }

    .accordion-item {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      border-radius: 5px;
      border: 1px solid #ddd;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
      cursor: pointer;
      background: #fff;
      margin-bottom: 0.5em;
    }

    .item-header {
      display: flex;
      justify-content: space-between;
      column-gap: 0.2em;
    }

    .item-icon {
      margin-top: 1rem;
      flex: 0 0 25px;
      display: grid;
      place-items: center;
      font-size: 1.25rem;
      height: 25px;
      width: 25px;
      border-radius: 4px;
      background: #44809c;
      cursor: pointer;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
      margin-bottom: 8px;
    }

    .item-icon i {
      transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    }

    .item-question {
      font-size: 1em;
      line-height: 1;
      font-weight: 600;
      padding-top: 8px;
    }

    .active .item-icon i {
      transform: rotate(180deg);
    }

    .active .item-question {
      font-weight: 500;
    }

    .item-content {
      max-height: 0;
      overflow: hidden;
      transition: all 300ms ease;
    }

    .item-answer {
      line-height: 150%;
      margin-bottom: 10px;
    }
  
/* style of gallery */

.gallery_sec {
    width: 100%;
    padding: 80px 0;
}




.gallery_sec img {
    width: 100%;
    margin-bottom: 30px;
    height: 250px;
}

.gallery_sec a {
    position: relative;
    transition: 0.3s ease-in-out;
}

.gallery_sec a::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery_sec img {
    transition: 0.3s ease-in-out;
}

.gallery_sec a:hover img {
    position: relative;
    width: 100%;
}

.gallery_sec a:hover img {
    opacity: 0.2;
}

.gallery_sec a:hover::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: url(https://i.ibb.co/3fMkjjF/Resize.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



@media screen and (max-width: 992px) {
    .col {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .col {
        width: 100%;
    }
}


/* 2*3 section of financial page */

.icon-blue { color: #3490dc; }
.icon-purple { color: #9561e2; }
.icon-green { color: #38c172; }
.icon-red { color: #e3342f; }
.icon-indigo { color: #6610f2; }
.icon-orange { color: #f6993f; }


/* video header of financial page  */

@media (min-width: 640px) { /* Apply styles for medium screens and above */
  .video-containers {
    position: relative;
    height: 30rem; /* Set your desired height here */
    overflow: hidden;
  }

  .video-containers video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .text-overlaying {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    text-align: left;
    color: orange;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .points {
    position: absolute;
    bottom: 60px;
    left: 20px;
    width: calc(100% - 40px);
    text-align: left;
    color: rgb(163, 205, 11);
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 639px) { /* Apply styles for small screens */
  .video-containers {
    position: relative;
    height: 500px; /* Set your desired height here */
    overflow: hidden;
  }

  .video-containers video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 400px; /* Set the height as 400px for small screens */
    object-fit: cover;
  }

  .text-overlaying,
  .points {
    position: absolute;
   
    width: calc(100% - 40px);
    text-align: left;
   
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
}


/* background video section of scholarship page */

.contain-scholarship {
  display: flex;
  position: relative;
  height: 20rem;
}

.text-sectional-scholarship {
  flex: 1;
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 100px;
}

.video-background-scholarship {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.additional-images-scholarship {
  flex: 1;
  display: flex;
}

.additional-images-scholarship img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 767px) {
  .contain-scholarship {
    flex-direction: column;
    height: auto;
  }

  .text-sectional-scholarship {
    margin-left: 0;
    text-align: center;
  }

  .video-background-scholarship {
    position: relative;
    width: 100%;
    height: auto;
  }
}
/* header section of college */

        .block-college {
            display: flex;
            align-items: center;
            padding: 20px;
            border-radius: 8px;
        }

        .orange-bg {
            background-color: orange;
            color: white;
        }

        .black-bg {
            background-color: black;
            color: white;
        }

        .icon-college {
            font-size: 48px;
            margin-right: 20px;
        }

        .content-college {
            flex: 1;
        }

        .image-container-college {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 35rem;
            background-image: url("https://img.freepik.com/premium-photo/teenager-girl-bright-orange-t-shirt-with-backpack-walks-nature_533998-139.jpg?w=2000");
            background-size: cover;
        }

        .overlay-college {
            position: absolute;
            top: 6rem;
            left: 6rem;
            color: white;
            font-family: sans-serif;
            font-size: 35px;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
            letter-spacing: 1px;
        }

        .text-college {
            position: absolute;
            top: 13rem;
            left: 6rem;
            color: white;
            font-family: sans-serif;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        }

        .btn-college {
            position: absolute;
            top: 18rem;
            left: 6rem;
            color: white;
            font-family: sans-serif;
            background-color: rgb(164, 77, 24);

        }
   /* experts section of career page */
   


  ul{
    margin:0;
    padding:0;
    list-style:none;
  }
  .heading.heading-icon {
      display: block;
  }
  .padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .practice-area.padding-lg {
      padding-bottom: 55px;
      padding-top: 55px;
  }
  .practice-area .inner{ 
       border:1px solid #999999; 
     text-align:center; 
     margin-bottom:28px; 
     padding:40px 25px;
  }
  .our-webcoderskull .cnt-block:hover {
      box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
      border: 0;
  }
  .practice-area .inner h3{ 
      color:#3c3c3c; 
    font-size:24px; 
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
  }
  .practice-area .inner p{ 
      font-size:14px; 
    line-height:22px; 
    font-weight:400;
  }
  .practice-area .inner img{
    display:inline-block;
  }
  
  
  
  .our-webcoderskull .cnt-block{ 
     float:left; 
     width:100%; 
     background:#fff; 
     padding:30px 20px; 
     text-align:center; 
     border:2px solid #d5d5d5;
     margin: 0 0 28px;
  }
  .our-webcoderskull .cnt-block figure{
     width:148px; 
     height:148px; 
     border-radius:100%; 
     display:inline-block;
     margin-bottom: 15px;
  }
  .our-webcoderskull .cnt-block img{ 
     width:148px; 
     height:148px; 
     border-radius:100%; 
  }
  .our-webcoderskull .cnt-block h3{ 
     color:#2a2a2a; 
     font-size:20px; 
     font-weight:500; 
     padding:6px 0;
     text-transform:uppercase;
  }
  .our-webcoderskull .cnt-block h3 a{
    text-decoration:none;
    color:#2a2a2a;
  }
  
  .our-webcoderskull .cnt-block p{ 
     color:#2a2a2a; 
     font-size:13px; 
     line-height:20px; 
     font-weight:400;
  }
  .our-webcoderskull .cnt-block .follow-us{
    margin:20px 0 0;
  }
  
  
  
  
